@media (max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #banner h1{
        width: 100%;
        font-size:35px;
    }

    .card{
        width: 17%;
        margin: 1.45%;
    }
    .card p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #articles{
        width: 65%;
    }
    #lateral {
        width: 29%;
    }
    #footer .wrap > div{
        width: 31%;
        margin: 1%;
    }
    #footer img{
        width: 90%;
    }
    #footer #browsers img{
        width: 14%;
    }
    #lateral input[type="button"]{
        width: 10%;
    }

    #login input[type="submit"], #login input[type="button"], #login input[type="reset"] {
        width: 37%;
        margin-left: 7%;
    }
}

@media (max-width:1036px){
    .card .category{
        font-size: 17px;
    }
    .card .description{
        font-size: 14px;
    }
    #articles{
        width: 61%;
    }
}

@media (max-width:977px){
    #footer h5{
        font-size: 30px;
    }
    #footer ul{
        font-size: 23px;
    }
}

@media (max-width:900px){
    #articles{
        width: 65%;
    }
    #lateral {
        width: 25%;
    }
    #lateral h3 {
        font-size: 20px;
    }
    #lateral input[type="text"]{
        width: 78%;
    }
    #lateral input[type="button"] {
        width: 15%;
    }
    .aside-box {
        width: 95%;
    }
    #login input[type="email"], #login input[type="password"] {
        width: 65%;   
    }
    #login #user, #login #password {
        margin-left: 24px;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"] {
        width: 34%;
        margin-left: 7%;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"] {
        margin-bottom: 8px;   
    }
   
}

@media (max-width:770px){
    #banner{
        height: 85px;
    }

    #banner h1{
        font-size:29px;
    }
    .card{
        height: auto;
    }
    .card .description{
        display: none;
    }
    .card .icon{
        height: 105px;
        font-size: 40px;
    }
    .card .category{
        font-size: 15px;
    }
    #footer h5{
        font-size:23px ;
    }
}

@media (max-width:725px){
    #header{
        width: 100%;
        height: 125px;
        padding-top: 10px;
    }
    #menu{
        clear: both;
        float: none;
        width: 440px;
        margin: 0 auto;
    }
    #logo {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width:700px){
    #articles{
        width: 100%;
    }
    #banner h1{
        font-size:25px;
    }
    #lateral{
        width: 100%;
        min-height: auto;
        margin: 0 auto;
        margin-top: 10px;
    }
    #lateral h3{
        text-align: center;
    }
    #social .overlay{
        width: 70%;
        text-align: center;
    }
    #lateral input[type="text"] {
        width: 85%;
    }
    #lateral input[type="button"] {
        width: 11%;
    }
    #login input[type="email"], #login input[type="password"] {
        width: 90%;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"] {
        margin-left: 10%;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"] {
        margin-bottom: 18px;
    }
    #footer {
        width: 100%;
        height: 1240px;
        padding-bottom: 40px;
    }
    #footer .wrap > div{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    footer h5{
        font-size: 25px;
    }
    #footer img {
        width: 50%;
    }
    #footer #browsers img {
        width: 9%;
    }
}

@media (max-width:565px){
    #menu {
        width: 100%;
    }
    #logo{
        float: left;
    }
    #header{
        height: 275px;
    }
    #menu ul li{
        width: 100%;
        line-height: 30px;
        padding-top: 10px;
    }
    #menu ul li a{
        width: 100%;
        margin: 0px;
        line-height: 38px;
    }
    #menu ul li a:hover{
        transform: scale(1,1);
    }
    #banner h1{
        font-size:18px;
    }
    #banner{
        height: 85px;
    }
    .card icon{
    font-size: 35px;
    }
    .card:hover .icon{
    font-size: 35px;
    }
    .card .category{
        font-size: 13px;
    }
    #articles .data{
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;
    }
    #articles article h4{
        margin-top: 20px;
    }
}